* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff !important;
  background-color: #fff !important;
  font-family: 'Open-Sans', sans-serif;
}

#container {
  margin: 0 auto;
  position: relative;
  /* width: 800px; */
  padding: 20px 50px;
  overflow: visible;
}


.svg {
  /* width: 800px;
  height: 400px; */
  overflow: visible;
  position: absolute;
}

.grid .tick {
  stroke: lightgrey;
  /* opacity: 0.3; */
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}


.tooltip {
  color: white;
  background: #FA283D;
  width: auto;
  position: absolute;
  display: block;
  visibility: hidden;
  padding: 3px 6px;
  margin-left: -80px;
  font-size: 11px;
}


rect:hover {
  cursor: pointer;
}

.tooltip:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #FA283D;
  top: -20px;
}

#pagin {
  padding: 10px;
  /* display: inline-block; */

  position: fixed;
  bottom: 0;
  /* top: 100%; */
  width: 100%;
  background-color: rgb(3, 22, 57);
}

#pagin div button {
  background-color: #efd806;
  border-radius: 6px;

  margin: 2px;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

#pagin {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;

  
}

#pagin div button.current {
  background-color: #4CAF50;
  color: white;
}

#pagin div button:hover:not(.current) {
  background-color: #ddd;
}

/* 
#tag {
  color: white;
  background: #FA283D;
  width: 150px;
  position: absolute;
  display: none;
  padding: 3px 6px;
  margin-left: -80px;
  font-size: 11px;
}

#tag:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #FA283D;
  top: -20px;
} */